.app {
  width: 100%;
  overflow: hidden;
}

.app__home {
  height: 70vh;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app__project {
  background-color: blue;
}

.app__scrollDownIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  background-color: black;
}
.app__scrollDownIndicator > img {
  height: 30px;
  width: 30px;
}
